:root {
  --ivory: #f9f3dd;
  --ebony: #282526;
  --black: #000;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero-section {
  background-color: var(--ivory);
  max-width: 100vw;
  height: auto;
  max-height: 70vh;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: swear-display, sans-serif;
  overflow: hidden;
}

.container {
  grid-column-gap: 280px;
  grid-row-gap: 280px;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: stretch center;
  align-self: auto;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.horizontal-nav-updated {
  z-index: 600;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--ebony);
  background-color: var(--ivory);
  border-radius: 0;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: sticky;
  top: 0;
  overflow: visible;
}

.horizontal-nav-updated:hover, .horizontal-nav-updated:active, .horizontal-nav-updated:focus {
  background-color: var(--ivory);
}

.brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.horizontal-nav-title-wrapper {
  object-fit: cover;
  order: 1;
}

.horizontal-nav-heading {
  color: var(--ebony);
  font-family: swear-display, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.menu-button {
  order: -1;
  width: auto;
  padding: 0;
  position: static;
}

.nav-menu {
  border-top: 1px none var(--ebony);
  border-bottom: 1px none var(--ebony);
  background-color: var(--ebony);
  object-fit: fill;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  height: 100dvh;
  margin-top: 0;
  display: block;
  top: 0;
}

.nav-menu:hover, .nav-menu:active, .nav-menu:focus {
  color: var(--ivory);
}

.nav-horizontal-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid var(--ebony);
  color: var(--ivory);
  text-align: center;
  object-fit: fill;
  flex-flow: column;
  place-content: center;
  align-items: center;
  height: 20%;
  padding-top: 0;
  padding-bottom: 0;
  font-family: swear-display, sans-serif;
  font-size: 200px;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: visible;
}

.nav-horizontal-link:hover, .nav-horizontal-link:active, .nav-horizontal-link:focus, .nav-horizontal-link:focus-visible, .nav-horizontal-link[data-wf-focus-visible], .nav-horizontal-link:visited {
  color: var(--ivory);
}

.nav-horizontal-link.w--current {
  height: 15%;
}

.horizontal-nav-social-wrapper {
  justify-content: center;
  align-items: center;
  height: 20%;
  display: flex;
}

.horizontal-nav-social-wrapper:hover {
  color: var(--ivory);
}

.social-button-wrapper {
  align-self: center;
}

.link {
  color: var(--ivory);
  font-family: swear-display, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.link.instagram.footer {
  color: var(--ebony);
  background-color: #0000;
  background-image: none;
}

.link.dribbble.footer, .link.linkedin.footer, .link.behance.footer {
  color: var(--ebony);
  background-color: #f9f3dd00;
  background-image: none;
}

.circle-wrapper {
  align-self: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.project-tile-wrapper {
  clear: none;
  border: 1px solid var(--ebony);
  text-align: left;
  cursor: pointer;
  object-position: 50% 50%;
  background-image: url('../images/Artwork-82.svg');
  background-position: 0 0;
  background-size: auto;
  align-self: stretch;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

.project-tile-wrapper.spir {
  background-image: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

.project-tile-wrapper.gaia {
  background-image: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  top: auto;
  overflow: hidden;
}

.project-tile-wrapper.lets-chat {
  background-image: none;
  border-style: none;
}

.project-info-wrapper {
  flex-flow: column;
  align-self: center;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: auto;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
}

.project-tile-heading {
  margin-top: 0;
  font-family: swear-display, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.project-tile-heading.testimonial {
  margin-top: auto;
  margin-bottom: 0;
}

.project-tile-heading.testimonial-job {
  margin-top: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.project-tile-para {
  color: var(--ebony);
  font-family: swear-display, sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 27px;
}

.project-tile-para.goblet {
  border-style: none;
  margin-top: 20px;
  font-weight: 500;
}

.project-tile-para.let-s-chat {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.didier-wrapper {
  box-sizing: border-box;
  aspect-ratio: auto;
  background-color: var(--ebony);
  text-align: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  position: static;
}

.project-hero {
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
}

.project-hero.scroll {
  margin-top: 30px;
}

.project-hero-h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: swear-display, sans-serif;
  font-size: 70px;
  font-weight: 800;
}

.project-hero-h1.newspaper {
  text-align: left;
  margin-bottom: 30px;
  margin-left: 0;
}

.project-hero-h1.me {
  text-align: left;
  object-fit: cover;
  font-size: 90px;
  line-height: 150px;
}

.project-hero-h1.subscribe {
  text-align: left;
  font-size: 78px;
  line-height: 70px;
}

.project-hero-h2 {
  text-align: center;
  margin-top: 60px;
  font-weight: 600;
}

.project-hero-h2.subscirbe {
  text-align: left;
  margin-top: 30px;
  font-family: swear-display, sans-serif;
  font-size: 46px;
  line-height: 38px;
}

.project-hero-h2.h1 {
  font-weight: 800;
}

.project-hero-h3 {
  text-align: center;
  margin-top: 30px;
}

.didier {
  float: none;
  clear: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--ebony);
  object-fit: fill;
  object-position: 50% 50%;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  width: 95vw;
  max-width: none;
  height: auto;
  max-height: 40vh;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  position: relative;
  top: 12px;
}

.didier-img {
  object-fit: fill;
  flex: 1;
  width: 100%;
  max-width: none;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}

.didier-section {
  background-color: var(--ivory);
  height: auto;
  min-height: auto;
  max-height: none;
}

.magazine-section {
  background-color: var(--ivory);
  max-height: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.magazine-grid {
  grid-column-gap: 37px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: .5fr 1px 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: stretch;
  width: 95vw;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
}

.blurb-goblet-wrapper {
  border: 1px #000;
  padding-left: 0;
  padding-right: 0;
}

.blurb-goblet-wrapper.t-wrapper {
  border: 1px solid var(--ebony);
  background-image: url('../images/T-v1.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.goblet {
  border: 1px solid var(--ebony);
  padding-left: 0;
  padding-right: 0;
}

.text-span {
  font-size: 81px;
  line-height: 81px;
}

.image-8 {
  border: 1px solid var(--ebony);
}

.line {
  background-color: var(--ebony);
  width: 1px;
}

.upcoming-projcts-section {
  background-color: var(--ivory);
  padding-top: 100px;
}

.normal-container {
  width: 95vw;
  max-width: none;
}

.normal-container.footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--ebony);
  vertical-align: middle;
  background-color: #0000;
  background-image: linear-gradient(#0000, #0000);
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.normal-container.testimonials {
  justify-content: flex-start;
  align-items: stretch;
  width: auto;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  overflow: hidden;
}

.upcoming-projects-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 30vw 1px 30vw 1px 30vw;
  grid-auto-columns: 1fr;
  display: grid;
}

.newsletter-button {
  border: 1px solid var(--ebony);
  background-color: var(--ivory);
  color: var(--ebony);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: swear-display, sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

.newsletter-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.newsletter-wrapper.project {
  border-bottom: 1px solid var(--ebony);
}

.text-span-2 {
  font-size: 46px;
  line-height: 46px;
}

.text-span-3 {
  font-size: 85px;
  line-height: 60px;
}

.osa-large-wrapper {
  color: var(--ebony);
  cursor: pointer;
  text-decoration: none;
}

.what-i-do-wrapper {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.let-s-chat-div {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-top: 1px solid var(--ebony);
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 0;
  padding-top: 20px;
  display: flex;
  position: static;
}

.let-s-chat-button-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: auto;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  top: auto;
}

.let-s-chat-button-wrapper.horizontal {
  width: 50%;
  min-width: auto;
}

.testimonials-section {
  background-color: var(--ivory);
  width: 100vw;
  max-width: 100vw;
  height: auto;
  max-height: 70vh;
  padding: 60px 30px;
  overflow: hidden;
}

.footer {
  background-color: var(--ivory);
  background-image: linear-gradient(#19191900, #19191900);
}

.footer-social-wrapper {
  color: var(--ebony);
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  height: 20%;
  display: flex;
}

.social-button-wrapper-footer {
  align-self: center;
}

.div-block-2 {
  justify-content: space-between;
  align-self: center;
  width: 100%;
  display: flex;
}

.body-all {
  background-color: var(--ivory);
}

.vertical-nav {
  z-index: 1;
  border-right: 1px solid var(--ebony);
  background-color: var(--ivory);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0;
}

.vertical-nav-flex {
  z-index: 99999;
  border-right: 1px solid var(--ebony);
  background-color: var(--ivory);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
  padding: 30px;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.logo {
  align-self: center;
}

.vertical-nav-title-wrapper {
  object-fit: cover;
  order: 1;
  padding-bottom: 30px;
}

.vertical-nav-heading {
  color: var(--ebony);
  font-family: swear-display, sans-serif;
  font-size: 24px;
  font-weight: 500;
  rotate: 90deg;
}

.nav-vertical-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid var(--ebony);
  color: var(--ivory);
  text-align: center;
  object-fit: fill;
  flex-flow: column wrap;
  place-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  padding-top: 0;
  padding-bottom: 0;
  font-family: swear-display, sans-serif;
  font-size: 221px;
  font-weight: 800;
  display: flex;
  position: relative;
}

.nav-vertical-link:visited {
  color: var(--ivory);
}

.vertical-nav-social-wrapper {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  display: flex;
}

.menu-button-2 {
  z-index: 9999;
  position: static;
}

.menu-button-2.w--open {
  background-color: #c8c8c800;
}

.image-11 {
  color: #fff;
  background-color: #ecd3d300;
}

.featured-works-title {
  width: 100%;
  max-width: none;
  margin-bottom: 0%;
}

.h1-vertical {
  float: none;
  clear: none;
  perspective-origin: 50%;
  transform-origin: 22% -50%;
  text-align: left;
  writing-mode: tb-rl;
  flex-flow: column;
  order: 0;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  max-width: none;
  height: auto;
  margin: 0 auto;
  padding-right: 0;
  font-family: swear-display, sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  display: flex;
  overflow: visible;
}

.horizontal-scroll-wrap {
  padding-bottom: 0;
}

.height-scroll {
  background-color: var(--ivory);
  min-height: 177dvh;
  position: relative;
}

.sticky-view {
  justify-content: flex-start;
  width: 100%;
  height: 100dvh;
  margin-bottom: 0;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.mover {
  justify-content: flex-start;
  display: flex;
}

.flex-offset {
  justify-content: flex-start;
  margin-right: 0;
  display: flex;
  overflow: visible;
}

.horizontal-section {
  border: 1px solid var(--ebony);
  justify-content: center;
  align-self: center;
  align-items: flex-start;
  width: 11vw;
  height: 100dvh;
  padding-top: 0;
  display: flex;
}

.horizontal-section.works-expanded {
  width: 50vw;
  margin-left: 0;
}

.horizontal-section.works-expanded.trial {
  z-index: 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  position: relative;
}

.horizontal-section.work-titles {
  cursor: pointer;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 0%;
}

.my-works-body {
  flex-flow: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-start;
  max-width: 600px;
  height: auto;
  margin-top: 10%;
  margin-left: 220px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.my-works-body.centred {
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  height: 90dvh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.my-works-body.cta {
  justify-content: center;
}

.my-works-body.cta.horizontal {
  flex-flow: row;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  width: 95vw;
  max-width: none;
  margin-left: 0;
}

.my-works-body.cta.horizontal.gaia {
  margin-top: 25px;
  margin-bottom: 25px;
}

.featured-works-paragraph {
  align-self: center;
  font-family: swear-display, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}

.featured-works-paragraph.centred {
  color: var(--ebony);
  text-align: center;
  margin-bottom: 20px;
}

.vertical-nav-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: 12.5vw;
  height: auto;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  left: 0;
}

.featured-works-scroll-prompt {
  font-family: swear-display, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.project-title-h1 {
  color: var(--ebony);
  text-transform: uppercase;
  align-self: center;
  font-family: swear-display, sans-serif;
  font-size: 44px;
  font-weight: 800;
}

.project-title-h1.let-s-chat-email {
  margin-bottom: 60px;
  line-height: 44px;
}

.project-title-h1.let-s-chat-email.horizontal {
  align-self: auto;
  width: 50%;
  margin-bottom: 0;
}

.project-title-h1.let-s-chat-email.horizontal.small {
  font-size: 40px;
  line-height: 40px;
}

.my-works-tags {
  grid-column-gap: 29px;
  grid-row-gap: 29px;
  background-color: var(--ebony);
  color: var(--ivory);
  padding: 6px;
  font-family: swear-display, sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
}

.my-works-tags-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: wrap;
  justify-content: center;
  align-self: center;
  display: flex;
}

.project-image-icon {
  align-self: center;
}

.vertical-project-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-self: center;
  height: 90dvh;
  display: flex;
}

.transition {
  z-index: 99999;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  inset: 0%;
}

.transition-content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0%;
}

.transition-bg {
  z-index: 1;
  color: #3330;
  flex-flow: column;
  display: flex;
  position: absolute;
  inset: 0%;
}

.transition-colour {
  background-color: var(--ebony);
  width: 100%;
  height: 100%;
  position: relative;
}

.transition-colour-border {
  background-color: var(--ebony);
  width: 100%;
  height: 10px;
  margin-bottom: -8px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.transition-logo-img {
  z-index: 2;
  width: 7em;
  position: relative;
}

.transition-lottie {
  width: 101%;
  margin-bottom: -5px;
  position: relative;
}

.transition-trigger {
  display: none;
}

.horizontal-scroll-container {
  justify-content: flex-start;
  padding-left: 6px;
  padding-right: 0;
  display: flex;
  overflow: hidden;
}

.scroll-content {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
  overflow: visible;
}

.scroll-content-wrapper {
  cursor: auto;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 30vw;
  height: auto;
  max-height: 900px;
  display: flex;
}

.tile-image, .image-17 {
  width: 100%;
  max-width: none;
}

.lets-chat-img {
  cursor: pointer;
}

.body {
  background-color: var(--ivory);
  overflow: visible;
}

.project-tile-wrapper-large {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  overflow: hidden;
}

.testimonial-card {
  border: 1px solid var(--ebony);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33vw;
  padding: 20px;
  display: flex;
  position: relative;
  left: auto;
}

.testimonial-card.a {
  background-color: var(--ivory);
  flex: 0 auto;
  align-items: stretch;
  width: 33vw;
  height: 400px;
  max-height: 900px;
  position: static;
  left: auto;
  overflow: visible;
}

.testimonial-card.b, .testimonial-card.c, .testimonial-card.d {
  background-color: var(--ivory);
  flex: 0 auto;
  align-items: stretch;
  width: 33vw;
  height: 400px;
  max-height: 900px;
  position: static;
  left: auto;
}

.testimonial-quote {
  width: 100%;
  font-family: swear-display, sans-serif;
  font-weight: 500;
  line-height: 38px;
}

.testimonial-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
}

.testimonial-name {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.testimonial-container {
  clear: none;
  padding-left: 6px;
  display: flex;
  overflow: hidden;
}

.transition-colour-2 {
  background-color: #282526;
  width: 100%;
  height: 100%;
  position: relative;
}

.transition-colour-border-2 {
  background-color: #282526;
  width: 100%;
  height: 10px;
  margin-bottom: -8px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.transition-colour-3 {
  background-color: #282526;
  width: 100%;
  height: 100%;
  position: relative;
}

.about-me-section {
  justify-content: center;
  width: 100vw;
  max-height: 100vh;
  margin-top: 60px;
  padding-top: 0;
  display: flex;
  overflow: hidden;
}

.about-me-wrapper {
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95vw;
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.about-me-info {
  flex-flow: column;
  align-items: flex-start;
  max-width: 50%;
  display: flex;
}

.about-me-images {
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
  max-width: 700px;
  height: 85%;
  display: flex;
  position: relative;
}

.about-me-title {
  background-color: var(--ebony);
  width: auto;
  margin-bottom: 10px;
  padding: 0 20px 10px;
  display: block;
}

.about-me-title.contact {
  width: 80%;
}

.about-me-h1 {
  color: var(--ivory);
  font-family: swear-display, sans-serif;
  font-size: 115px;
  line-height: 80px;
}

.about-me-para {
  margin-top: 10px;
}

.about-me-h2 {
  color: var(--ebony);
  font-family: swear-display, sans-serif;
  font-weight: 600;
  line-height: 38px;
}

.about-me-h2.design-process {
  border-top: 1px solid var(--ebony);
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}

.me-profile {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
}

.dj-logo-about-me {
  position: absolute;
  top: 0;
}

.process-section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-height: none;
  display: flex;
}

.process-title-wrapper {
  background-color: var(--ebony);
  align-self: center;
  width: 95vw;
  height: auto;
  min-height: auto;
  max-height: 100vh;
  padding: 10px;
}

.process-title {
  color: var(--ivory);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 20vh;
  margin-top: auto;
  padding-top: 0;
  padding-bottom: 0;
  font-family: swear-display, sans-serif;
  font-size: 244px;
  display: flex;
}

.image-18 {
  vertical-align: baseline;
  width: 100%;
  margin: auto;
}

.design-process-graph-wrappper {
  max-width: 95vw;
  padding-top: 30px;
}

.design-process-description {
  width: 95vw;
}

.cta-section {
  justify-content: center;
  width: 100vw;
  display: flex;
}

.cta-about-wrapper {
  border-top: 1px solid var(--ebony);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.cta-h1 {
  color: var(--ebony);
  text-align: center;
  font-family: swear-display, sans-serif;
  font-weight: 800;
}

.contact-me-section {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: 95vw;
  max-height: 100vh;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: visible;
}

.contact-me-wrapper {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-self: auto;
  align-items: stretch;
  width: 100%;
  max-width: 95vw;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

._50-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-self: auto;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
}

._50-wrapper.img {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.image-19 {
  width: 80%;
  max-width: none;
  margin-left: auto;
  margin-right: 0;
}

.text-field {
  border: 1px none var(--ebony);
  color: var(--ivory);
  background-color: #2825263d;
  border-radius: 0;
  width: 100%;
  margin-bottom: 20px;
  font-family: swear-display, sans-serif;
  font-size: 19px;
}

.text-field:hover {
  background-color: #282526a1;
}

.text-field:active, .text-field:focus {
  background-color: var(--ebony);
  color: var(--ivory);
}

.text-field::placeholder {
  color: var(--ivory);
  font-family: swear-display, sans-serif;
}

.text-field-2 {
  border: 1px solid var(--ebony);
  background-color: var(--ivory);
}

.field-label {
  color: var(--ebony);
  width: 100%;
  font-family: swear-display, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.submit-button {
  border: 1px solid var(--ebony);
  background-color: var(--ebony);
  color: var(--ivory);
  text-align: left;
  border-radius: 0;
  width: 100%;
  font-family: swear-display, sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.form {
  width: 100%;
}

.success-message {
  background-color: var(--ebony);
  color: var(--ivory);
  width: 100%;
  font-family: swear-display, sans-serif;
  font-size: 19px;
  font-weight: 800;
}

.form-block {
  width: 80%;
}

.image-20 {
  width: 50px;
  margin-bottom: 10px;
}

.error-message {
  color: #f9f3dd;
  background-color: #b43b3b;
  font-family: swear-display, sans-serif;
  font-size: 19px;
  font-weight: 800;
}

.osa-large-photo-wrapper {
  border: 1px solid var(--ebony);
  overflow: hidden;
}

.link-2 {
  color: #f9f3dd;
  font-family: swear-display, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.nav-horizontal-link-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #f9f3dd;
  text-align: center;
  object-fit: fill;
  border-bottom: 1px solid #282526;
  flex-flow: column;
  place-content: center;
  align-items: center;
  height: 25%;
  padding-top: 0;
  padding-bottom: 0;
  font-family: swear-display, sans-serif;
  font-size: 221px;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.horizontal-nav-2 {
  z-index: 600;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f9f3dd;
  border: 1px #282526;
  border-bottom-style: solid;
  border-radius: 0;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: sticky;
  top: 0;
  overflow: visible;
}

.horizontal-nav-heading-2 {
  color: #282526;
  font-family: swear-display, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.nav-menu-2 {
  object-fit: fill;
  background-color: #282526;
  border-top: 1px #282526;
  border-bottom: 1px #282526;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  height: 100dvh;
  margin-top: 0;
  display: block;
  top: 0;
}

.project-hero-section {
  width: 100vw;
  max-height: 100vh;
}

.project-hero-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  overflow: visible;
}

.project-hero-image {
  object-fit: cover;
  overflow: hidden;
}

.spir-hero-image {
  width: 100%;
  max-width: none;
}

.project-hero-text {
  background-color: #28252600;
  background-image: linear-gradient(85deg, #282526, #28252600);
  border: 1px solid #f9f3dd;
  border-style: solid solid none none;
  padding-left: 30px;
  padding-right: 30px;
}

.project-hero-text.osa {
  background-image: linear-gradient(85deg, #282526, #282526d4);
}

.project-hero-large-h1 {
  color: var(--ivory);
  margin-bottom: 20px;
  font-family: swear-display, sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.project-hero-large-h2 {
  color: var(--ivory);
  font-family: swear-display, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

.project-information-section {
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  overflow: hidden;
}

.spir-logo-span {
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.spir-logo-span.gaia {
  margin-top: 0;
}

.spir-logo-span.gaia._100 {
  margin-top: 30px;
}

.spir-logo-image {
  box-sizing: border-box;
  vertical-align: middle;
  object-fit: fill;
  width: 110%;
  max-width: none;
  margin-left: -5%;
  margin-right: 0;
  display: block;
}

.spir-logo-image.gaia._100 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.spir-logo-image.gaia._100.poster {
  width: 95%;
}

.logo-section {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  width: 95vw;
  margin-top: 30px;
  display: grid;
}

.logo-section.gaia {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  grid-template-rows: auto;
  max-height: 100vh;
}

.logo-explained {
  padding-right: 30px;
}

.logo-explained.right {
  padding-left: 30px;
  padding-right: 0;
}

.logo-explained._50 {
  align-self: center;
  width: 50%;
}

.logo-explained._50.lionheart, .logo-explained._50.centred {
  margin-top: 60px;
}

.logo-explained._100 {
  align-self: center;
  width: 50%;
}

.logo-explained._100.lionheart {
  width: 100%;
  margin-top: 60px;
}

.logo-explained._100.centred {
  margin-top: 60px;
}

.project-large-h1 {
  color: var(--ebony);
  text-transform: uppercase;
  font-family: swear-display, sans-serif;
  font-size: 44px;
  font-weight: 800;
}

.project-large-h1.right {
  text-align: right;
}

.project-large-h1.centred {
  text-align: center;
}

.project-large-h3 {
  color: var(--ebony);
  font-family: swear-display, sans-serif;
  font-weight: 500;
}

.project-large-h3.right {
  text-align: right;
}

.project-large-h3.space {
  margin-bottom: 30px;
}

.project-large-image-wrapper.gaia-sign {
  max-height: 100%;
  overflow: hidden;
}

.project-large-image-wrapper.a {
  margin-top: 30px;
}

.logo-large-wrapper {
  border-top: 1px solid var(--ebony);
  align-self: center;
  align-items: center;
  width: 95vw;
  margin-top: 15px;
  padding-top: 15px;
  display: flex;
}

.logo-large-wrapper.youtguard {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  column-count: 2;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  align-items: stretch;
  column-gap: 30px;
  display: block;
}

._50-wrapper-true {
  flex-flow: column;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  width: 50%;
  max-width: 50%;
  height: 100%;
  display: flex;
}

._50-wrapper-true.img {
  width: 100%;
  height: 100%;
  overflow: visible;
}

._50-wrapper-true.youthguard {
  width: auto;
  max-width: none;
}

.gaia-mockup-sign {
  object-fit: cover;
  max-width: none;
  height: 100%;
  max-height: 100%;
}

.azuri {
  background-color: var(--ebony);
  padding: 30px;
}

.horizontal-lets-chat {
  display: flex;
}

.osa-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top: 1px solid var(--ebony);
  border-bottom: 1px solid var(--ebony);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  width: 95vw;
  margin: 30px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
}

.youthguard-page-grid {
  column-count: auto;
  width: 100%;
  margin-bottom: 30px;
}

.image-21 {
  width: 100%;
}

.image-22 {
  width: 90%;
}

@media screen and (max-width: 767px) {
  .nav-horizontal-link, .nav-vertical-link, .nav-horizontal-link-2 {
    font-size: 150px;
  }
}

#w-node-a8bf945c-38be-78f6-2fee-5e3fa6b01742-d752971d {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start center;
}

#w-node-_807c8d3b-356b-1014-4306-dda3be4d767b-d752971d {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-e3a0e25c-432f-e35e-2609-936b260fc389-d752971d {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_3b3c0d8b-7435-ca93-2383-b5c27c0d52c7-d752971d {
  grid-area: 2 / 3 / 3 / 4;
  align-self: stretch;
}

#w-node-_55a671a7-4a8b-e4d8-8b65-5729507bca26-d752971d {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_2cee7096-27f4-8b37-a721-7fc6c84976bf-d752971d {
  justify-self: center;
}

#w-node-_73621c41-ef8f-1222-5a41-7b58510ae43c-d752971d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8fbcd32c-356e-2420-5377-398a3e37ac45-d752971d {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-_5e2223b1-43d5-c307-2bf4-4bc52142ddde-d752971d {
  justify-self: center;
}

#w-node-_959370cf-540a-6571-a06a-789bfd4e0d74-d752971d {
  grid-area: span 2 / span 3 / span 2 / span 3;
}

#w-node-c6b52d7a-171a-d0f7-4dd7-f3f4fc766f14-d752971d {
  place-self: start stretch;
}

#w-node-_48ccd1f4-1837-a410-f06f-bcc08a67cba6-d752971d {
  place-self: center;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-803c4700 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-803c4700 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-db564f97 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-db564f97 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-3dc6c875 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-3dc6c875 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-56819277 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-56819277 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-01b67910 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-01b67910 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-f6225eba {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-f6225eba {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_13f9bed9-ee2d-ae33-2d32-00491b1fad89-b0c4a202 {
  grid-area: 1 / 1 / 3 / 3;
}

#w-node-_2b750893-e054-5b4b-76cf-9d1e9a8e7367-b0c4a202 {
  grid-area: 2 / 1 / 3 / 2;
}


